<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net462" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net462" />
  <package id="Common.Logging.NLog4412" version="3.4.1" targetFramework="net462" />
  <package id="KeycloakIdentityModel" version="2.1.6" targetFramework="net462" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.2.206221351" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net462" />
  <package id="NLog" version="4.4.12" targetFramework="net462" />
  <package id="RestSharp" version="106.1.0" targetFramework="net462" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net452" />
</packages>